# build
build/
*.o
moc_*.cpp
ui_*.h
vb-agent
res/.directory
Makefile
CMakeFiles
Trolltech.conf
obj-i686-linux-gnu
syscall-names.h
CMakeCache.txt
cmake_install.cmake
config.h

# tests
venv/
__pycache__/
softhsm2.conf
tokens/
pkcs11_tls.psk

# editors
.\#*
\#*#
*~
.idea
.vscode
